<div id="card-options">
  <div id="card-filters">
    <button>all</button>
    <button>creatures</button>
    <button>sorceries</button>
    <button>instants</button>
    <button></button>
    <button>nonmetal</button>
  </div>
</div>
