<div class='card-container'>
  <div class='card-type-container'>
    <h4>cards (<%= deck.cards.count %>):</h4>
    <ul class='card-list'>
    <% deck.cards.each do |card| %>
      <li class='card-name'><a href="/cards/<%= card.id %>"><%= card.name %></a></li>
    <% end %>
    </ul>
  </div>
</div>
