<h4>Decks using <%= html_escaper(@card.name) %> (<%= html_escaper(@card.decks.count) %>):</h4>
<% @card.decks.each do |deck| %>
  <h3><a href="/decks/<%= deck.id %>"><%= html_escaper(deck.name) %></a></h3>
<% end %>
