<%= erb :'_errors' %>

<form id='new-deck-form' method='post' action='/decks'>
  <div class='new-deck-input'>
    <label for='deck-name'>name:</label>
    <input id='deck-name' type="text" name="deck[name]" value=<%=  %>>
  </div>

  <div class='new-deck-input'>
    <label for='deck-description'>description:</label>
    <textarea id='deck-description' name="deck[description]"><%=  %></textarea>
  </div>

  <button class='button'>deck me</button>
</form>
