<%= erb :'_errors' %>

<form id='new-deck-form' method='post' action='/decks'>
  <label for='deck-name'>name:</label>
  <input id='deck-name' type="text" name="deck[name]" value=<%=  %>>

  <label for='deck-description'>description:</label>
  <textarea id='deck-description' name="deck[description]"><%=  %></textarea>

  <input type="submit" value='deck me'>
</form>
